<%- include("template/cabecera", {tituloWeb: "Index"})%>
    <h2><%= titulo %></h2>
    <a class="btn btn-danger btn-block my-4" href="/animales">Ir a animales</a>
<%- include("template/footer") %>
</body>
</html>